@model IEnumerable<Walnut.Entities.EntityFlag>
@using Walnut.Extensions
@using Walnut.Models.CustomHTMLHelpers;
@{
    ViewBag.Title = "Entity Flags";
}
<h2>Entity Flags</h2>
<h4>With this facility you can declare a flag (indicator) por diferent system entities (candidate, file, report, invoice, etc). Later, the system will launch diferent processes for the entities depending on theirs flags configuration. </h4><p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icon)
        </td>
        <td>
            @Html.CRUD_ActionLink("Edit", item.GetType().Name, "Edit", item.Id, true) &nbsp;
            @Html.CRUD_ActionLink("Details", item.GetType().Name, "Details", item.Id, true) &nbsp;
            @Html.CRUD_ActionLink("Delete", item.GetType().Name, "Delete", item.Id, true)
        </td>
    </tr>
}
</table>
@Scripts.Render("~/bundles/WalnutUIList")