@model Walnut.Entities.JobVacancySkillSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job Vacancy and Skill Set UNION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobVacancyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobVacancyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillSetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillSetId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
