@model Walnut.Entities.CandidateFile
@using Walnut.Extensions

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group" hidden>
            @Html.LabelFor(model => model.CandidateId, "CandidateId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CandidateId", new SelectList(ViewBag.CandidateList, "ID", "FullName", "Select"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CandidateId, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.CVFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CVFile, new { @class = "custom-file-input", type = "file", id = "files", name = "files[]" })
            @Html.ValidationMessageFor(model => model.CVFile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateModified, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateModified, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.DateModified, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(m => m.TimeStamp)
    @Html.HiddenFor(m => m.DateModified)
    @Html.HiddenFor(m => m.Size)
    @Html.HiddenFor(m => m.CandidateId)


    <div class="form-group">
        @Html.LabelFor(model => model.CandidateFileTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(
                model => model.CandidateFileTypeId,
                Model.CandidateFileTypes.ToSelectListItem(Model.CandidateFileTypeId),
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CandidateFileTypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <img id="ImgLoader" class="doSomethingSomewhere" src="~/Content/Images/Saving.gif" height="30" width="30" hidden />
            <input type="submit" id="BtnSave" value="Create" class="btn btn-default doSomethingSomewhere" />
        </div>
    </div>
</div>



