@model IEnumerable<Walnut.Entities.ProcessTemplate>
@using Walnut.Extensions
@using Walnut.Models.CustomHTMLHelpers;
@{
    ViewBag.Title = "Index";
}

<h2 id="title" class="none" value="0">Process Templates</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed" id="dataTable">
    <tr>
        <th>
            &nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessTypeId)
        </th>
        <th>&nbsp;</th>
        <th></th>
    </tr>

    <tbody id="ProcessTemplates">
        @foreach (var item in Model)
        {
            <tr class="dragableProcessTemplateRow" id="@item.Id" value="@item.SequenceNumber">
                <td>
                    <img src="~/Content/Images/drag_handle_48px.svg"  width="15" height="15"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ProcessTypeId)*@
                    @item.GetProcessTypeDescription()
                </td>
                <td>
                    <a href="~/Admin/ProcessStageTemplate?ProcessId=@item.Id"><img src="~/Content/Images/StageIcon.png" width="15" height="15" /></a>
                </td>
                <td>
                    @Html.CRUD_ActionLink("Edit", item.GetType().Name, "Edit", item.Id, true) &nbsp;
                    @Html.CRUD_ActionLink("Details", item.GetType().Name, "Details", item.Id, true) &nbsp;
                    @Html.CRUD_ActionLink("Delete", item.GetType().Name, "Delete", item.Id, true)
                </td>
            </tr>
        }
    </tbody>
</table>


@Scripts.Render("~/bundles/WalnutUIList")

<script>
    // this script enables drag & drop
    $('#ProcessTemplates').sortable({

        update: function (event, ui) {

            //aqui no tengo que hacer nada: leer la nueva secuencia desde la funcion ajax


            // first count table rows
            var rowsCount = $('.dragableProcessTemplateRow').length;
            //its time to call our old chap AJAX....

            var DraggedElementId = ui.item.get(0).id;
            var newSequence = [];
            
            var i;
            var _processes = $('.dragableProcessTemplateRow');
            for (i = 0; i < _processes.length; i++) {

                newSequence.push(_processes.get(i).id);

            }


            //AJAX call
            UpdateProcessesSequence(newSequence);

        }

    });
</script>


<script type="text/javascript">

    function UpdateProcessesSequence(sequenceArray) {
        // code to be executed

            $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateProccesssesSequence")',
            //dataType: 'json', // if you uncoment this line you will get an error (!)...
            // cos AJAX will try to parse the successful 202 (Accepted) return code from the controller as JSON
            data: { ProcessListToReorder: sequenceArray }, //here the array!!!
            success: function (ProcessStages) {
                console.log("We delivered the sequence");
            },
            error: function (request, status, error) {
                alert('Failed to delivery processes new squence.  ' + request.status);
            }
        });
        return false;
    }




</script>