@model IEnumerable<Walnut.Entities.ControlPanel>
@using Walnut.Extensions
@using Walnut.Models.CustomHTMLHelpers;
@{
    ViewBag.Title = "Index";
}

<h2>Control Panels</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.CRUD_ActionLink("Edit", item.GetType().Name, "Edit", item.Id, true) &nbsp;
            @Html.CRUD_ActionLink("Details", item.GetType().Name, "Details", item.Id, true) &nbsp;
            @Html.CRUD_ActionLink("Delete", item.GetType().Name, "Delete", item.Id, true)
        </td>
    </tr>
}

</table>
@Scripts.Render("~/bundles/WalnutUIList")